.header {
    background: $plum;
}

.header__title {
    color: white;
    text-decoration: none;
    h1 {
        margin: 0;
        cursor: pointer;
    }
    @media (max-width: $mobile-breakpoint) {
        font-size: $font-size-sm;
    }
}

.header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $s-size 0;
    a {
        color: white;
        @media (max-width: $mobile-breakpoint) {
            font-size: $font-size-sm;
        }
    }
    button {
        @media (max-width: $mobile-breakpoint) {
            font-size: $font-size-sm;
        }
    }
}
