.list-header {
    color: $med-gray;
    background: $off-white;
    border: 1px solid $lighter-gray;
    border-radius: 5px 5px 0 0;
    padding: $s-size $m-size;
    display: flex;
    justify-content: space-between;
}

.list-body {
    margin-bottom: $m-size;
    @media (min-width: $desktop-breakpoint) {
        margin-bottom: $l-size;
    }
}

.list-item {
    border: 1px solid $lighter-gray;
    border-top: none;
    color: $dark-gray;
    display: flex;
    flex-direction: column;
    padding: $s-size;
    text-decoration: none;
    transition: background 0.3s ease;
    &:hover {
        background: $off-white;
    }
    &:last-child {
        border-radius: 0 0 5px 5px;
    }
    @media (min-width: $desktop-breakpoint) {
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        padding: $m-size;
    }
}

.list-item__message {
    align-items: center;
    color: $med-gray;
    justify-content: center;
    padding: $m-size;
    &:hover {
        background: none;
    }
}

.list-item__title {
    margin: 0;
    word-break: break-all;
}

.list-item__subtitle {
    color: $med-gray;
    font-size: $font-size-sm;
}

.list-item__data {
    margin: $s-size 0 0 0;
    @media (min-width: $desktop-breakpoint) {
        margin: 0;
        padding-left: $s-size;
    }
}
