html {
    font-size: 62.5%; // allows us to use base 10 in rems (ex: 2.2rems = 22px)
}

body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: $m-size;
}

button {
    cursor: pointer;
}

button:disabled {
    cursor: default;
}

.is-active {
    font-weight: 900;
}