// COLORS
$dark-gray: #333;
$med-gray: #666;
$gray: #888;
$light-gray: #cacccd;
$lighter-gray: #e5e5e5;
$lavender: #aba0cd;
$plum: #4f4860;
$off-white: #f7f7f7;

// FONT SIZE
$font-size-lg: 1.8rem;
$font-size-md: 1.6rem;
$font-size-sm: 1.4rem;

// SPACING
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;
$tab-breakpoint: 50rem;
$mobile-breakpoint: 25rem;
